{% extends "layout.html" %}

{% block content %}
    <h1>About The Founders</h1>
        <p>A few years ago we had a moment of awakening. We looked around ourselves and noticed all the things we were
            buying and later discarding, tossing in the corner to be forgotten, or replacing with “newer” models.
            We asked ourselves a  simple question. Do we need these things? Are they really necessary to make us happier?
            To make us feel fulfilled? Realizing that the answer to these questions was a hard no, we decided that we
            should try to minimize our impact on the planet.</p>

        <p>We were always told that recycling is good for the planet, and it is… in theory. The problem lies in the fact
            that in order for something to be recycled, it must have an economic value. Most of the things you throw away
            into the recycling bin, never even reach a recycling facility. Many people don’t realize that recycling is a
            business. If the end product does not make someone money, they won’t bother recycling it. When we found this
            out it was a rude awakening. We realized (we were not alone in this) that the only way to minimize our impact
            was not by recycling, but by reducing. Instead of recycling, to not buying it in the first place.</p>

        <p>This proved easier said than done…</p>

        <p>The hardest part was buying food. For starters practically everything at the super markets, malls, etc. is
            packed in plastic. Even single cucumbers are wrapped! What once was a single trip to the store became a
            mission. We had to go to several stores and find out which ones sold what items in bulk or without plastic
            packaging. We had to search for things online, find alternatives to many products, or sometimes simply not
            buy them in the first place. Sometimes we would crave something to eat, but decided that since it was in
            plastic we would not buy it. </p>

        <p>If we lived in a rural area we would grow our own fruits and vegetables if we could, but we lived in the city
            and had limited room. We were bound to stores… for now at least. Slowly we grew accustomed to this way of
            life, and knew which local stores had what items. We would buy tomatoes at one shop, nuts at another. We
            would only buy products in glass jars, and then use the jars for storage. Some of the shops we shopped at
            even took our jars and filled them with things we needed. We even started making our own cleaning supplies.
            We found local and online shops selling zero waste products. Often times these products were a bit more
            expensive, but we didn’t care. For us money was less important than the end effect. </p>

        <p>Then one day we had an idea. At first it was just something we discussed, until we decided to pursue the idea.
            That idea was Tribe Zero. </p>

        <p>A place where like minded people, who cared about the planet we call home, could get support and help. A place
            that made it easier to find products that had minimal impact on the environment. A place where people could
            unite under one idea. We know how hard it is to be minimal waste in this day and age. The journey is not easy.
            It takes time, and patience. Dedication and perseverance. </p>

        <p>We hope to make our dream come true. To spread the word about minimal waste, and to help make it more
            accessible to everyone. Above all we hope to save the planet so that our generation, and those after us can
            enjoy what nature has to offer us. We are not perfect, and we are still learning. So let's create a community.
            Lets's learn together and teach the rest of the world to live the right way. Welcome to the Tribe!</p>

        <p>With Love,</p>

        <p>Kasia and Matthew Fudala</p>
{% endblock content %}