{% extends "layout.html" %}

{% block content %}
    <div class="content-section mt-5">
        <form method="Post" action="" novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Open A Shop</legend>
                <div class="form-group">
                    {{ form.shop_name.label(class="form-control-label") }}
                    {% if form.shop_name.errors %}
                        {{ form.shop_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.shop_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.shop_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                        {{ form.shop_categories.label(class="form-control-label") }}
                        {% if form.shop_categories.errors %}
                            {{ form.shop_categories(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.shop_categories.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.shop_categories(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                <div class="form-group">
                    {{ form.company_name.label(class="form-control-label") }}
                    {% if form.company_name.errors %}
                        {{ form.company_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.company_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.company_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.paypal.label(class="form-control-label") }}
                    {% if form.paypal.errors %}
                        {{ form.paypal(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.paypal.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.paypal(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.company_street_line1.label(class="form-control-label") }}
                    {% if form.company_street_line1.errors %}
                        {{ form.company_street_line1(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.company_street_line1.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.company_street_line1(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.company_street_line2.label(class="form-control-label") }}
                    {% if form.company_street_line2.errors %}
                        {{ form.company_street_line2(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.company_street_line2.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.company_street_line2(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.company_city.label(class="form-control-label") }}
                    {% if form.company_city.errors %}
                        {{ form.company_city(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.company_city.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.company_city(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        {{ form.company_region.label(class="form-control-label") }}
                        {% if form.company_region.errors %}
                            {{ form.company_region(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.company_region.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.company_region(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-4">
                        {{ form.company_country.label(class="form-control-label") }}
                        {% if form.company_country.errors %}
                            {{ form.company_country(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.company_country.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.company_country(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-4">
                        {{ form.company_zip_code.label(class="form-control-label") }}
                        {% if form.company_zip_code.errors %}
                            {{ form.company_zip_code(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.company_zip_code.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.company_zip_code(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.taxpayer_id.label(class="form-control-label") }}
                    {% if form.taxpayer_id.errors %}
                        {{ form.taxpayer_id(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.taxpayer_id.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.taxpayer_id(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.no_vat.label(class="form-control-label") }}
                    {% if form.no_vat.errors %}
                        {{ form.no_vat(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.no_vat.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.no_vat(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.vat_id.label(class="form-control-label") }}
                    {% if form.vat_id.errors %}
                        {{ form.vat_id(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.vat_id.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.vat_id(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}