.fa-2x {
    font-size: 2em;
}

.main-menu .fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

.dropdown-item {
    padding: 0;
}

#header .fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

.main-menu:hover, nav.main-menu.expanded {
    width: 250px;
    overflow: visible;
}

.main-menu {
    background: #212121;
    position: absolute;
    top: 4rem;
    bottom: 0;
    height: calc(100vh - 4rem);
    left: 0;
    width: 60px;
    overflow: hidden;
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    -webkit-transform: translateZ(0) scale(1,1);
    z-index: 1000;
}

.main-menu>ul {
    margin: 7px 0px;
}

.main-menu li {
    position: relative;
    display: block;
    width: 250px;
}

.main-menu li>a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #999;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1,1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

#header .dropdown-menu {
    width: 200px;
    padding: 0;
    position: absolute;
}

#header .dropdown ul {
    margin: 1rem 0;
}

#header .dropdown-menu li {
    position: relative;
    display: block;
    width: 200px;
}

.main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

.dropdown-item .nav-icon {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

.dropdown-item .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    width: 140px;
    font-family: 'Titillium Web', sans-serif;
}

.main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    font-family: 'Titillium Web', sans-serif;
}


.no-touch .scrollable .hover {
    overflow-y: hidden;
}

.no-touch .scrollable .hover:hover {
    overflow-y: auto;
    overflow: visible;
}

a:hover, a:focus {
    text-decoration: none;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

nav ul, nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}

.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
    color:#fff;
    background-color:#101010;
}

.sidebar {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

.fa.fa-home.fa-2x.nav-icon {
    color: #ff00cc;
}

.fa.fa-shopping-basket.fa-2x.nav-icon {
    color: #ccff00;
}

.fa.fa-list.fa-2x.nav-icon {
    color: #00ccff;
}

.bg-mossy {
    background-color: #101a1a;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.profile-avatar {
    height: 3rem;
    width: 3rem;
}

.dropdown li {
    padding-top: 10px;
}

#logo {
    height: 3rem;
    width: 3rem;
    margin: auto;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #ffffff;
    top: 3rem;
}

.main-content {
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-top: 6rem;
    padding-right: 2rem;
}

.container-chart {
    border: 1px solid #999;
    top: 6rem;
    height: 50%;
    width: 50%;
    box-shadow: 0px 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
}

#chart1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
}

